body 
{
  font-family:sans-serif; 
  background: -webkit-linear-gradient(to right, #155799, #159957);  
  background: linear-gradient(to right, #155799, #159957); 
  color:whitesmoke;
  margin-left: 30%;
  margin-right: 30%;
}


h1{
    text-align: center;
}


form{
    width: 25rem;
    margin: auto;
    color:whitesmoke;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(11, 15, 13, 0.582);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 10px 15px;
}

input[type=text], input[type=password]{
    width: 90%;
    margin: 2px 0;
    border-radius: 5px;
    padding: 10px 12px;
    box-sizing: border-box;
  }

button {
    background-color: #030804;
    color: white;
    padding: 14px 20px;
    border-radius: 5px;
    margin: 2px 0;
    width: 100%;
    font-size: 18px;
  }

button:hover {
    opacity: 0.4;
    cursor: pointer;
}

.headingsContainer{
    text-align: center;
}

.headingsContainer p{
    color: gray;
}
.mainContainer{
    padding: 10px;
}


.subcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.subcontainer a{
    font-size: 5px;
    margin-bottom: 5px;
}

span.forgotpsd a {
    float: right;
    color: whitesmoke;
    padding-top: 16px;
  }

.forgotpsd a{
    color: rgb(74, 146, 235);
    font-size: 12px;
  }
  
.forgotpsd a:link{
    text-decoration: none;
  }

  .register{
    color: white;
    text-align: center;
  }
  
  .register a{
    color: rgb(74, 146, 235);
  }
  
  .register a:link{
    text-decoration: none;
  }

  /* Media queries for the responsiveness of the page */
  @media screen and (max-width: 100px) {
    form{
      width: 25rem;
    }
  }
  
  @media screen and (max-width: 100px) {
    form{
      width: 10rem;
    }
  }
