<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login-page.component.css">

    <title>Login page in HTML</title>
</head>
<body>
    <!--<h1>Login form using HTML and CSS</h1>-->
    <form action="">
        <!-- Headings for the form -->
        <div class="headingsContainer">
            <h3>Log In</h3>
            <p>Login in with your username and password</p>
        </div>

        <!-- Main container for all inputs -->
        <div class="mainContainer">
            <!-- Username -->
            <label for="username">Your username</label>
            <input type="text" placeholder="Enter Username" name="username" required 
            [(ngModel)] = "username">

            <div class="alert alert-danger" role="alert" *ngIf="invalidLogin">Username is required!</div> 
        </div>
    

            

            <div class="control">

            <!-- Password -->
            <label for="pswrd">Your password</label>
            <input type="password" placeholder="Enter Password" name="password" required 
            [(ngModel)] = "password"><br>

            <div class="alert alert-danger" role="alert" *ngIf="invalidLogin">Password is required!</div>


            <!-- sub container for the checkbox and forgot password link -->
            <div class="subcontainer">
                <label>
                  <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
               <!---- <p class="forgotpsd"> <a href="#">Forgot Password?</a></p>-->
            </div>


            <!-- Submit button -->
             <!--<p id="e">{{emessage}}</p>-->

            <!--<button (click)=checkLogin() class="btn btn-success">
                Login
              </button>-->

              
            
            <p id="e">{{emessage}}</p>
            <div class="control">
                <input type="Submit"value="Login" (click)=checkLogin()>


            <!-- Sign up link -->
            <!--<p class="register">Not a member?  <a href="#">Register here!</a></p>-->

            <div class="row mb-4 px-3">
                <div class="font-weight-bold"> Not a member? <a  href ="register-page"class="text-danger " >Register</a></div>
            </div>

        </div>
</div>
    </form>
</body>
</html> 

 