body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(48, 46, 46);
  color: rgb(224, 211, 211);
  padding-top: 25vh;
}
h2{
  text-align: center;
  color:black;
  font-weight: bold;
}

.container {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  /*background-color: rgba(11, 15, 13, 0.582);*/
  /*background-color: rgb(22, 21, 21);*/
  border-radius: 15px;
  padding: 25px 10px;
  box-shadow: 0 0 15px rgb(80, 79, 79);
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: rgba(11, 15, 13, 0.582);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  box-shadow: 0 0 15px rgb(80, 79, 79);
  border: 1px solid rgba(255, 255, 255, 0.125);
  color:whitesmoke;
}
/*form{
  width: 90%;
  color:whitesmoke;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(11, 15, 13, 0.582);
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 15px;
  padding: 25px 10px;
  box-shadow: 0 0 15px rgb(80, 79, 79);
  
}*/

input {
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin: 5px;
  text-align: center;
  font-size: 18px;
  color: white;
  background-color:whitesmoke;
}

.btns {
  margin: 15px auto;
}

button {
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  padding: 8px 30px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  margin: 5px 25px;
}

button:hover {
  background-color: tomato;
}

p {
  color: red;
  text-align: center;
  display: none;
}