tr:hover{
    background-color: black;
}
table{
    background-image:url("C:\Users\DELL\Desktop\FULLSTACKPROJECT\RestaurantManagement\src\assets\image.jpg");
    background-size: 1024px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
th{
    color:white;
}
td{
    color: blue;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h2{
    text-align: center;
    color: rgb(83, 2, 2);
    font-weight: bold;
    
 } 
 
input{
    background-color: whitesmoke;
    
}
.btn{
    border: 2px solid black;
    background-color: grey;
    border-radius: 26px;
    color: black;
    padding: 7px 19px;
    font-size: 14px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
  }
